table{
	width : 100%;
	
}


th{
	font-weight: bold;
	text-align: center;
	font-family: sans-serif;
	background-color: gray;
}

tr,td{
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
}

